# Build output
dist/

# Generated types
.astro/

# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.production

# OS
.DS_Store
Thumbs.db
